<body class="sessions_body">

<%= render "partials/sessionsheaders", :message => "sign_in" %>
    <%= render 'partials/messageflash'%>


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autocomplete: "email", class: "sessions_input", placeholder: "Email" %>
  </div>


  <div class="field">
    <%= f.password_field :password, class: "sessions_input", placeholder: "Password"%>
  </div>



<% end %>
<div class="forgot_container">
<span >
Forgot password?
</span>
</div>

</body>