<body class="sessions_body">
<%= render "partials/userheader", :title => "TRANSACTIONS", :page => "" %>

    <%= render 'partials/messageflash'%>


<div class="category_page_container">


<div class="total_category_container info_cursor">
<div class="total_category_left">
<ion-icon name="cash-outline" class="category_icon-total"></ion-icon>
<span class="">Total</span>
</div>

<span class="total_category_number">$<%= @category.total_amount(@category.entity_categories).round(2) %></span>

</div>

<% @transactions.each do |transaction|%>

<div class="total_category_container">
<div class="total_category_left">
<ion-icon name="pricetags-outline" class="category_icon-item"></ion-icon>
<span class=""><%=transaction.entity.name%></span>
</div>

<span class="total_category_number">$<%= transaction.entity.amount %></span>
</div>

<% end%>

<div class="final_margin">
</div>




<div class="bottom_button">
<div class="button_align">
  <%= button_to "New transaction", transactions_create_path, class: "button_style", method: :get%>
</div>
</div>

<div>
</body>
